/*********************************************

This is the style file for Child Avatar Maker 2019 Edition

**********************************************/
body, html{
    overflow-x: hidden;
    overflow-y: hidden;
}
#head{
	position:absolute;
	left:37.5%;
	top:15%;
	width:250px;
	z-index: 8;
}
#torso{
	position:absolute;
	left:37.5%;
	top:37%;
	width:250px;
	z-index: 7;
}
#arms{
	position:absolute;
	left:30%;
	top:35%;
	width:500px;
	height:100px;
	z-index: 6;
}
#legs{
	position:absolute;
	left:37.5%;
	top:63%;
	width:250px;
	z-index: 5;
}
#backG{
position:absolute;
left:0px;
top:0px;
width:110%;
z-index: 0;
}
#unlock{
	position: absolute;
	width:50%;
	top:87%;
	right:28%;
	z-index: 10;
}
