/*********************************************

This is the style file for this project.

**********************************************/
body{
	position:absolute;
	width:100%;
	height:100%;
	margin:0;
	overflow: hidden;
	/* pointer-events: none; */
}
.keys {
	display:inline-block;
	padding-left:40px;
}
.Instructions{
	position:absolute;
	text-align: center;
	font-size:50px;
	color:rgb(255,191,0);
	top:20%;
	right:20%;
}
.gone{
	visibility: hidden;
}
#thinking{
	position:absolute;
	font-size:30px;
	color:rgb(255, 191, 0);
	right:10px;
}
#thought{
	position:absolute;
	font-size:30px;
	color:rgb(255, 191, 0);
	right:10px;
	top:25px;
}
#smartZone {
	position:absolute;
	bottom:0;
	width:100%;
	height:100px;
}
#background{
	position:absolute;
	width:100%;
	height:100%;
}
#uphold{
	position:absolute;
	top:15%;
	width:10%;
}
#downhold{
	position:absolute;
	top:15%;
	width:10%;
	left:15%;
}
#lefthold{
	position:absolute;
	top:15%;
	width:10%;
	left:30%;
}
#righthold{
	position:absolute;
	top:15%;
	width:10%;
	left:45%;
}
#blue{
	position:absolute;
	width:100%;
	height:100%;
}
#sisy{
	position:absolute;
	height:100%;
	width:80%;
	right:0;
}
#UP {
	position:absolute;
	width:10%;
	bottom:0;
}
.uparrow {
	position:absolute;
	width:10%;
	bottom:10%;
}
.downarrow {
	position:absolute;
	width:10%;
	bottom:0;
	left:15%;
}
.leftarrow {
	position:absolute;
	width:10%;
	bottom:0;
	left:30%;
}
.rightarrow {
	position:absolute;
	width:10%;
	bottom:0;
	left:45%;
}
